footer.footer
  nav
    a.social-nav.bg-facebook(href='https://zh-tw.facebook.com/viscovery.co/', target='_blank')
    a.social-nav.bg-weibo(href='http://tw.weibo.com/viscovery', target='_blank')
    a.social-nav.bg-linkedin(href='https://www.linkedin.com/company-beta/3637491/?pathWildcard=3637491', target='_blank')
  p.color-white-40a Viscovery 2017 © Viscovery All rights reserved