nav.topnav
  .nav-logo
    a.nav-block(href='index.html', target='_self')
  .nav-items
    button.navToggle#navToggle(type='button')
      i#navToggleIcon.fa.fa-bars.fa-5(aria-hidden='true')
    ul#nav
      li.active
        a(href='index.html') ABOUT
      li
        a(href='sdk.html') SDK DOCUMENT
      li
        a(href='https://goo.gl/forms/jmXPlXu5b6nH7Ig62', target='_blank')
          button.primary.nav-apply APPLY NOW
  