section.section_1
  .cover-float-block
    .heading-1
      | VidSense
      sup.trademark ™
    .content
      | Provide the best ads that suits your video content with a brand new way driven by AI.
      br
      | A novel service for online advertising on computer communication networks, streaming of data and R&D
      | in the field of video AI.
    a(href='https://goo.gl/forms/jmXPlXu5b6nH7Ig62', target='_blank')
      button.primary APPLY NOW
section.banner
  | Why people choose VidSense
section.container.section-2
  .row
    .col-xs-12.col-sm-6.col-lg-6.title-text
      | Keeping the whole pie
      .content-bg
        | You can keep 90% of ad revenue. It’s double the revenue compared to other video/media platforms.
    .col-xs-12.col-sm-6.col-lg-6
      img.rwdImg(src='assets/img/section2Grphic.png')
section.container.section-3
  .row
    .col-sm-12.col-md-6.title-text
      | Ads actually get clicks
      .content-bg
        | Advertise at the right time to maximize ad effectiveness. Increase advertising CTR effectiveness.
    .col-sm-6.col-12
      img.rwdImg(src='assets/img/sec03Graphic.png')
section.container.section-4
  .row
    .col-sm-6.col-12.title-text
      | Cross-Device Experience
      .content-bg
        | Display ads formatted Multi-Screen ads
        | Support web and all smart tablets with iOS or Android OS.
    .col-sm-6.col-12
      img.rwdImg(src='assets/img/sec04Graphic.png')
section.container.section-5
  .row
    .col-sm-12.col-12.title-text Carefully tailored ads for each key moment
    .col-sm-6.col-12
      img.rwdImg(src='assets/img/section05_01.png')
    .col-sm-6.col-12
      h3 Skippable Pre-roll video ads
      p
        | Display skippable pre-roll video ads that is relevant to
        | the first moment of your video. This ads allow viewers to
        | skip ads after 5 seconds.
      h3 Skippable Mid-roll video ads
      p
        | Seamless streaming video ads that are relevant to your video content.
        | Ads are inserted at the right moment to minimize interference while providing,
        | a better mid-roll ads experience comparing to traditional methods.
      h3 Overlay Banner ads
      p
        | Contextual Overlay ads will appear on the lower portion of your video at the right time to provide a
        | much better banner ad experience. This prevents inappropriate ads appearing in your video.
section.container.section-6
  .row
    .col-sm-12.col-12.title-text Easy to Apply
    .col-sm-4.col-12
      h1.apply-step.bg-apply Apply
      p Provide your basic website and contact information for us.
    .col-sm-4.col-12
      h1.apply-step.bg-sdk SDK
      p
        | We will send you an SDK and notification after confirming your application. Meanwhile, you can refer to
        | the technical instructions to understand how to integrate SDK to your website.
    .col-sm-4.col-12
      h1.apply-step.bg-profit Profit
      p Review your income from ads.
section.container.section-7
  a(href='https://goo.gl/forms/jmXPlXu5b6nH7Ig62', target='_blank')
    button.primary APPLY NOW