\sdk-download {
  width: 100%;
  text-align: center;
  color: #212121;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  margin-bottom: 270px; }

.sdk-download ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sdk-download div:first-child {
  margin: 30px 0; }

.sdk-btns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sdk-btns a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #212121;
  text-decoration: none;
  height: 66px;
  width: 300px;
  padding: 0 32px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
  margin: 0 15px; }

.sdk-btns i {
  margin-right: 16px; }
